{% extends 'navbar.html' %}
{% load static %}

{% block content %}
        <div class="landing" id="landing">
            <div class="text-center">
                {% if user.is_authenticated %}
                <h1>
                    <p>Hi {{ user.username }}
                </h1>
                <p><a href="{% url 'logout' %}">Log out</a></p>
                {% else %}
                <h1>
                <p><a href="{% url 'login' %}">Log In </a></p>
                </h1>
                <p><p>Don’t have account?</p><a href="{% url 'signup' %}">Sign Up</a></p>
                {% endif %}
            </div>
        </div>
{% endblock %}