<!-- templates/signup.html -->
<!-- templates/registration/login.html -->
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
        <!-- templates/signup.html -->
        <div class="lead">
            <h1 class="display-4">Sign Up</h1>
            <h2 class="lead">Please enter your data</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Sign up</button>
            </form>
        </div>
    </section>
{% endblock %}