{% extends 'navbar.html' %}
{% load static %}
{% block content %}
        <div class="landing" id="landing">
            <div class="text-center">
                <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
{% endblock %}
