<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>McDy PPW</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  	 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link href="{% static 'css/main.css' %}" rel="stylesheet">
	</head>
	<body bgcolor="#6c757d">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href="#">DahlanYasa</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'homepage:index' %}">Home</a>
					</li> 
					<li class="nav-item">
						<a class="nav-link" href="{% url 'aktivitas:activity' %}">Aktivitas</a>
					</li> 
				</ul>
			</div>  
		</nav>
		{% block content %}
			<div class="text-center">
				<h1>Halo, apa kabar?!</h1>
			</div>
			
			<form method="POST" class="text-center">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" id="submit-button">Submit</button>
			</form>
			
			{% if not status %}
				<div class='d-flex justify-content-center mt-md-3'>
					<p>Mohon maaf, tidak ada Status yang dapat ditampilkan.</p>
				</div>
			{% else %}
				<div class='table-responsive col-md-6 mt-md-3 mx-auto'>
					<table class='table table-striped'>
						<thead class='thead-dark'>
							<tr>
								<th scope='col' class='align-middle'>#</th>
								<th scope='col' class='align-middle'>Status</th>
								<th scope='col' class='align-middle'>Tanggal/Waktu</th>
							<tr>
						</thead>
						<tbody>
							{% for obj in status %}
								<tr>
									<th scope='row' class='align-middle'>{{forloop.counter}}</th>
									<td class='align-middle'>{{obj.status}}</th>
									<td class='align-middle'>{{obj.date_created}}</th>
								</tr>
							{% endfor %}
						</tbody>
					<table>
				</div>
			{% endif %}
		{% endblock content %}
		
	</body>
</html>
